* {
	box-sizing: border-box;
}

.content {
  margin-top: 75px;
}

*{
  margin:0;
  padding: 0;
}

body {
    font-family: 'Comme', sans-serif;
  }
  body {
    background-color: #ffffff;
    font-family: 'Comme', sans-serif;
    font-size: 18px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
    color: #1F3C65;
    margin: 20px auto;
    font-weight: 700;
    }
  
  h2 {
    font-size: 1.6em;
    color: #AC5D71;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
  }
  
  h3 {
    font-size: 1.4em;
    color: #1F3C65;
    letter-spacing: 0.05%;
    font-weight: 500;
    padding-top: 10px;
    margin: 5px 0;
  }

  h4 {
    font-size: 1em;
    color: #1F3C65;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0
  }

  a {
    color: #000;
    text-decoration: none; /* No underlining */
  }
  a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
 
   .button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #ff7f50;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #994c30; /* width of the border, type, color */
    transition: 0.2s opacity;
    }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
    background-color: #ff7f50;
    color: #ffffff;
  }
  img {
    width: 100%;
  }

  header {
    background-color: #8EAF88;
    padding: 10px 0;
    position: fixed;
    width:100%;
  }
  #hero{
    text-align: center;
    background-color: #ffffff;
  }

  #hero span {
    display: block;
  }

  .social{
   height: 40px;
   margin: 16px; 
   width:auto;
 }

 .container {
  max-width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

#work{
  text-align: center;
}

#contact{
  text-align: center;
}

/* Layout styling */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

main {
  padding-top: 133px;
}

#contact{
 
  padding: 10px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
  }


nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

nav > ul > li {
  display: inline-block;
}

nav > ul > a {
  display: inline-block;
}

nav > ul > a {
  margin: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
 
}
footer {
  text-align: center;
  background-color: #8EAF88;
  }
  #about{
  display: inline-block;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  .navtoggle li:not(:last-child) {
    display: none;
  }
 

  .navtoggle.navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 20px;
    
  }

  .navtoggle.responsive li {
    display: block;
  }

.navtoggle.responsive li {
    border-top: 0 solid white;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}


  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px){
  .content {
    margin-top: -25px;
}

  header {
    text-align: unset;
    padding: 10px 0 4px;
  }

  nav {
    display: inline-block;
    width: 100%;
  }


  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    }
    
    nav>ul {
      margin: 1em 0;
  }
  
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child{
    display:none;
  }

  nav>ul>li>a {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      color: #AC5D71;
      font-weight: 500;
      letter-spacing: 0.05em;
      padding: 0;
      margin: 0 15px;
      text-transform: uppercase;
      border-bottom: 3px solid #eaeaea;
  }

  nav>ul>li>a:hover {
      color: #6e0739;
      border-bottom: 3px solid #000000;
  }

  main {
      padding-top: 56px;
  }

  .my.story {
      width: 85%;
  }

  body {
      font-size: 16px;
  }

  h1, h2, h3, h4 {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
  }

  h1 {
      font-size: 2.5em;
      color: #1F3C65;
      margin: 20px auto;
  }

  h2 {
      font-size: 1.6em;
      color: #AC5D71;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      margin: 75px 0 75px 0;
      text-align: center;
  }

  h3 {
      font-size: 1.4em;
      color: #1F3C65;
      letter-spacing: 0.05%;
      font-weight: 500;
  }

  h4 {
      font-size: 1em;
      color: #1F3C65;
      font-weight: 500;
      padding: 10px 0;
      margin: 0
  }

#hero h1{
  margin-bottom: 10px;
}
  #hero p {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0;
      }

  .about img {
      width: 85%;
      margin-bottom: 15px;
  }
  .about h3{
      margin-top: 25px;
  }

  #contact p {
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0;
      line-height: 1.5;
      margin: 0;
  }

  .col-md-6 {
      width: 50%;
  }

  [class*="col-"] {
      float: left;
      padding: 0 15px;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }
  footer .container {
      padding: 50px 15px;
  }
      .col-md-6 {
        width: 50%;
      }
      #about-page h3 { margin-top: 0;}
      
}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}  
      

